body{
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


/* NAVIGATOR */
.navigate_bar{
    display: flex;
    width: 100%;
    height: 100px;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.navigate_bar h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.information_bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 1rem;
    margin-right: 22.5rem;
    margin-left: 100px;
    margin-right: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.information_bar div{
    margin: 0;
    margin-top: 1.95rem;
}

.information_bar1, .information_bar2{
    display: flex;
}

.phone, .mail{
    width: 20px;
    height: 20px;
}

/* fotter */

footer{
    display: flexbox;
    width: 100%;
    height: 550px;
    background-color: #252525;
    font-family: "segoe ui";
    padding-top: 1px;
}
.footer-info{
    display: flex;
    width: 53%;
    height: 60px;
    margin-top: 50px;
    margin-right: 470px;
    margin-left: 470px;
    justify-content: space-between;
}
.info-div{
    display: flex;
    height: 30px;
    width: 800px;
    color: aliceblue;
}

.locaciya-klada{
    width: 23px;
    height: 23px;
    margin-top: 14px;
    margin-right: 10px;
}
.mobilka-zvonilka{
    width: 13px;
    height: 26px;
    margin-top: 14px;
    margin-right: 10px;
}
.konvert-s-shekeliami{
    width: 21px;
    height: 16px;
    margin-top: 19px;
    margin-right: 10px;
}
.h3-footer{
    color: aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}
form{
    width: 510px;
    height: 40px;
    display: block;
    margin: 0px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}
input{
    width: 510px;
    height: 40px;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
}
label{
    color: #595858;
}
.subscribe-button{
    background-color: #F4271E;
    width: 195px;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.follow-button{
    width: 195px;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.icon-container{
    width: 186px;
    height: 38px;
    margin: auto;
    margin-top: 20px;
}
.icon-container img{
    margin-left: 12px;
}
.boss-footer{
    display: flex;
    width: 100%;
    height: 85px;
    background-color: aliceblue;
    margin-top: 53px;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #595858;
/* footer end */

.phone{
    width: 13px;
    height: 17px;
    padding-top: 3px;
}

.mail{
    width: 22px;
    height: 15px;
    padding-top: 4px;
}

.navigate_bar h1{
    margin-top: 1.3rem;
    margin-left: 30px;
}

.burger_menu{
    margin-top: 1.95rem;
    margin-right: 30px;
    width: 40px;
    height: 25px;
    cursor: pointer;
}

.text_nav{
    margin: 0;
}

.span_nav{
    color: #337F9E;
    color: #1780a0;
    font-weight: bold;
}
/* NAVIGATOR END END END END */

/* page */


.main_your_home{
    display: flex;
    background-color: #E4E5E7;
    width: 100%;
    height: 50rem;
}

.your_home_left{
    display: block;
    font-size: 1.3rem;
    width: 50rem;
    padding-left: 10%;
    padding-top: 5rem;
}

.p_home{
    margin-top: 1rem;
    font-size: 1rem;
    width: 39rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

.h1_home{
    font-size: 3.6rem;
    margin-bottom: 0;
    color: #292929;
}

.h2_home{
    font-size: 5.55rem;
    margin-top: 0;
    color: #345578;
    margin-bottom: 0;
}

.btn_red_blue{
    display: flex;
    gap: 1rem;
}

.btn_red, .btn_blue{
    display: flex;
    width: 15rem;
    height: 4rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.btn_red p{
    margin: auto;
    color: white;
}

.btn_blue p{
    margin: auto;
    color: white;
}

.btn_red{
    background-color: #F4271E;
}

.btn_blue{
    background-color: #337F9E;
}

.moliar{
    display: flex;
    margin-left: 10rem;
}

.btns_tuda_siuda{
    display: flex;
    box-shadow: 0px 0px 1000px;
    width: 10rem;
    margin: auto;
    z-index: 2;
    position: relative;
    top: -40px;
}

.red_btn_str, .blue_btn_str{
    display: flex;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.blue_btn_str{
    background-color: #337F9E;
}

.red_btn_str{
    background-color: white;
}

/* what we do */

.article{
    display: flex;
    text-align: center;
    width: 100%;
}

.whatwe{
    display: flex;
    margin: auto;
    font-size: 4rem;
    text-align: center;
    width: 30rem;
    margin-top: 5rem;
}

.whatwedo{
    display: flex;
    justify-content: space-between;
    width: 80rem;
    margin: auto;
    gap: 250px;
    margin-top: 4rem;
}

.home_card{
    margin: 0;
}

.home_asd{
    font-size: 2rem;
    color: #337F9E;
    font-weight: bold;
    width: 100%;
}

.main_tekst{
    font-size: 1.1rem;
    height: 10rem;
    width: 15rem;
}

.card_1{
    width: 25rem;
    height: 35rem;
}

.card_2{
    width: 25rem;
    height: 35rem;
}

.card_3{
    width: 25rem;
    height: 35rem;
}

.readmore_btn{
    color: #337F9E;
    font-weight: bold;
    cursor: pointer;
}

.hotel{
    height: 67px;
}

.dsa{
    color: black;
}