body{
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    transition: 0.5s;
}

.h1pro {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 120px;
}


#a1{
    text-decoration: none;
    color: #000000;
}

#text_comment_1{
    position: relative;
    opacity: 1;
    transition: 1s;
}

#text_comment_2{
    position: absolute;
    opacity: 0;
    transition: 1s;
}

#text_comment_3{
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.customer-box {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 80px;
    justify-content: center;
}
.strelki{
    font-size: 30px;
    margin-top: 80px;
    cursor: pointer;
    z-index: 100;
}

.img-box {
    display: inline;
    height: 204px;
    width: 170px;
    border-top: 0.95px solid #ff0000;
    border-left: 0.95px solid #ff0000;
    border-bottom: 0.95px solid #ff0000;
    margin-left: 40px;
}

.name-box {
    display: inline;
    height: 204px;
    width: 170px;
    border-top: 0.95px solid #ff0000;
    border-bottom: 0.95px solid #ff0000;
}

.review-box {
    display: inline;
    height: 204px;
    width: 520px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    line-height: 30px;
    border-top: 0.95px solid #ff0000;
    border-right: 0.95px solid #ff0000;
    border-bottom: 0.95px solid #ff0000;
    margin-right: 40px;
    text-align: left;
}

.img-border {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #ff0000;
    margin-left: 30px;
    margin-top: 40px;
}

.imgobla {
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin: 7.5px;
}

.div-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 80px;
}

.div-status {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff0000;
}

.customer-box2 {
    display: grid;
    grid-template-columns: 480px 472px;
    width: 63rem;
    height: auto;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.h1text {
    flex-direction: row;
    font-size: 50px;
    line-height: 56px;
    color: #111111;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1div {
    height: 120px;
    width: 480px;
}

.button {
    margin-top: 20px;
    margin-left: 55px;
    width: 472px;
    height: 69px;
    border-radius: 35px;
    background-color: #ff0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    color: #f8f8f8;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover{
    background-color: #bd0000;
    transition: 0.5s;
}

.description {
    width: 1001px;
    height: 58px;
    font-size: 16px;
    line-height: 28px;
    color: #2c2c2c;
    font-weight: 400;
    font-family: "Open Sans";
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex_arrow{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.a11{
    margin-left: 50rem;
}

.a12{
    margin-right: 50rem;
}

    /* 
    
    .upbtn{
        bottom: 0.7rem;
        width: 2rem;
        height: 2rem;
    }

    .boss-footer{
        text-align: center;
    }

    #fname{
        width: 20rem;
        margin: 0;
        margin: auto;
    }

    .footer-info{
        display: block;
    }

    form{
        width: 100%;
        text-align: center;
    }

    .fname{
        margin: 0;
        margin: auto;
        text-align: center;
    }

    .info-div{
        display: block;
        margin-bottom: 3rem;
    }

    .footer-info{
        margin-bottom: 12rem;
    }

    footer{
        height: 100%;
        width: 100%;
    }

    .boss-footer p{
        width: 20rem;
    }
    this code paste to  media @768 px  
    */