/* header */



/* about */

body{
    margin: 0%;
}

.page {
    display: flex;
    flex-direction: row;
    height: 690px;
    width: 100%;
    background-color: #167F9F;
    color: white;
    overflow: hidden;
}

.box {
    width: fit-content;
    height: 96px;
    margin-left: 25%;
    padding-top: 190px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
}

.text {
    margin-top: 48px;
    font-weight: 400;
    font-size: 18px;
    padding-right: 2.25rem;
}

.read_more {
    display: flex;
    margin-top: 50px;
    width: 130px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s    ;
}

.read_more:hover {
    color: red;
    transition: 0.3s;
}

.material-symbols-outlined {
    padding-top: 15px;
    padding-left: 10px;
}